<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center; /* Horizontally center the content */
            align-items: center; /* Vertically center the content */
            height: 100vh;
        }

        .registration-form {
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 10px; /* Add border-radius for smooth edges */
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        .form-group {
            margin: 10px 0;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="password"] {
            width: 95%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 15px; /* Add border-radius for rounded edges */
        }

        input[type="radio"],
        input[type="checkbox"] {
            margin-right: 5px;
        }

        button[type="submit"],
        button[type="reset"] {
            padding: 10px 20px;
            margin-top: 10px;
            background: green;
            color: #fff;
            border: none;
            border-radius: 15px;
            cursor: pointer;
        }

        button[type="reset"] {
            background: black;
        }
    </style>
    

    <script>
        // Your JavaScript code here
    </script>
</head>
<body>
    <div class="registration-form">
        <h1>Registration Form</h1>
        <form id="registration-form" method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </div>
            
            <div class "form-group">
                <label for="p">Password:</label>
                <input type="password" name="p" id="p" required>
            </div>

            <input type="hidden" name="email" id="email" value="your@email.com">
            
            <div class="form-group">
                <label for="gender">Gender:</label><br>
                <input type="radio" name="gender" id="gender-male" value="male" required>
                <label for="gender-male">Male</label>
                <input type="radio" name="gender" id="gender-female" value="female" required>
                <label for="gender-female">Female</label>
            </div>

            <div class="form-group">
                <label for="terms">I agree to the terms:</label>
                <input type="checkbox" name="terms" id="terms" required>
            </div>
            
            <button type="submit">Register</button>
            <button type="reset">Reset</button>
            <br>
            <center>
            <a href="{% url 'show_database' %}" class="btn btn-primary">Show Database</a>
            </center>

        </form>
    </div>

    <script src="scripts.js"></script>
</body>
</html>
