<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Contents</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin: 20px auto;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        table th, table td {
            padding: 10px;
            text-align: center;
        }

        table th {
            background-color: #007BFF;
            color: #fff;
            font-weight: bold;
        }

        table td {
            background-color: #f5f5f5;
        }

        table tr:nth-child(even) {
            background-color: #e6e6e6;
        }

        table tr:hover {
            background-color: #ccc;
        }

        table a {
            text-decoration: none;
            margin: 0 5px;
            color: #007BFF;
        }

        .search-bar {
            text-align: right;
            padding: 10px;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Database Contents</h1>
    <div class="search-bar">
        <input type="text" id="search" placeholder="Search...">
    </div>
    <table border="2">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Terms</th>
                
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for data in database_data %}
                <tr>
                    <td>{{ data.username }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.gender }}</td>
                    <td>{{ data.terms }}</td>
                    
                    <td>
                        <a href="#">Edit</a>
                        <a href="#">Disable</a>
                        <a href="#">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        // JavaScript for live filtering of the table based on search input
        document.getElementById("search").addEventListener("input", function () {
            const input = this.value.toLowerCase();
            const rows = document.querySelectorAll("table tbody tr");

            rows.forEach(function (row) {
                const rowData = row.textContent.toLowerCase();
                if (rowData.indexOf(input) === -1) {
                    row.style.display = "none";
                } else {
                    row.style.display = "";
                }
            });
        });
    </script>
</body>
</html>