{% extends 'layouts/base.html' %}

{% block title %}Full Stack Developer Portfolio{% endblock title %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Portfolio</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">About Me</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Job Qualifications</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="#" class="btn btn-sm btn-neutral">New</a>
                    <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-header border-0">
                    <h2 class="mb-0">About Me</h2>
                </div>
                <div class="card-body">
                    <img alt="Image placeholder" src="/static/assets/img/theme/1.jpg" class="img-fluid mb-4" style="border-radius: 50px;">
                    <p style="text-align: justify; color: #333;">
                        I am a seasoned Full Stack Developer with a passion for crafting robust and innovative solutions.
                        Blending technical expertise with a creative mindset, I strive to deliver high-quality, user-centric applications.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="mb-0">Accomplishments</h3>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Implemented numerous feature resulting in a 30% performance boost.</li>
                        <li>Led a team in successfully deploying Major project ahead of schedule.</li>
                        <li>Implemented numerous features resulting in a 30% performance boost.</li>
                        <li>Led a team in successfully deploying Major project ahead of schedule.</li>
                        <li>Resolved critical software bugs in record time.</li>
                        <li>Designed and executed various user-friendly interfaces for clients.</li>
                        <li>Contributed significantly to open-source projects, receiving accolades for innovations.</li>
        
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="mb-0">Skills</h3>
                </div>
                <div class="card-body">
                    <ul>
                        <li>JavaScript (Node.js, React, Angular)</li>
                        <li>Python (Django, Flask)</li>
                        <li>Database Management (SQL, NoSQL)</li>
                        <li>JavaScript (Node.js, React, Angular)</li>
                        <li>Database Management (SQL, NoSQL)</li>
                        <li>Game Development</li>
                        <li>Decent in English Communication</li>
                        <li>Full Stack Development (Frontend, Backend)</li>
                        <li>Version Control (Git, SVN)</li>
                        <li>Responsive Design (Mobile-First Approach)</li>
                        <li>Cloud Technologies (AWS, Azure, GCP)</li>
                        
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="mb-0">Additional Information</h3>
                </div>
                <div class="card-body">
                    <p>
                        I am dedicated to staying updated with the latest technologies and methodologies in software development.
                        A team player with strong problem-solving skills and a keen eye for detail.
                        
                    </p>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <center>
        <h2 class="mb-0">Major Projects Accomplished</h2>
        </center>
    </div>
    <div class="row mt-4">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img alt="UE Image" src="/static/assets/img/theme/ue.jpg" class="img-fluid mb-4" style="width: 100%; border-radius: 20px;">
                <div class="card-body">
                    <h2>OPEN WORLD MYSTICAL GAME</h2>
                    <hr>
                    <strong>Details:</strong>
                    <br>
                    <br>
                    <p style="text-align: justify; color: #333;">
                        Engine Used: Unreal Engine 4
                        Game Type: Open-World Role-Playing Game (RPG)
                        Platform: PC and Consoles
                        Genre: Fantasy Adventure
                        <br>
                        <br>
                        <strong>Description:</strong>
                        <br>
                        <br>
                        "Mystical Realms is an ambitious open-world 
                        RPG developed using Unreal Engine, immersing players
                        in a sprawling landscape of magic and adventure. Set 
                        in the mythical land of Elyria, the game combines breathtaking 
                        visuals and intricate storytelling to create an unforgettable
                        gaming experience. Players traverse a diverse, visually stunning 
                        world, encountering ancient ruins, mystical creatures, and dynamic
                        ecosystems. 
                        <br>
                        The game encourages exploration and discovery,
                        allowing players to follow their unique paths, shape their destiny, 
                        and uncover the secrets hidden within the vast world. With an engaging 
                        storyline, deep character customization, and a compelling magic 
                        system, Mystical Realms offers an unparalleled journey for RPG enthusiasts.
                        realistic environments, and seamless gameplay, creating a vivid and captivating
                        world for players to explore. Mystical Realms is set to redefine open-world RPG 
                        gaming, promising an immersive and unparalleled experience for players."
                        <br><br>
                        <br>
                        <br>
                        <br>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img alt="Image placeholder" src="/static/assets/img/theme/neighbor.png" class="img-fluid mb-4" style="width: 100%;">
                <div class="card-body">
                    <h2>NEIGHBORLY: Home Owners Association</h2>
                    <hr>
                    <strong>Details:</strong>
                    <br>
                    <br>
                    <p style="text-align: justify; color: #333;">

                        Platform: Web and Mobile
                        Community Type: Local Social Networking
                        Features: Location-based communication,
                         User Profiles, Event Organization, Local Marketplace
                        <br>
                        <br>
                        <strong>Description:</strong>
                        <br>
                        <br>
                        Neighborly, a cutting-edge project, embodies my innovation in developing 
                        a community-centric social networking platform. This endeavor stemmed from 
                        my passion for connecting people and fostering local relationships. Rooted
                        in the idea of facilitating local interactions, Neighborly is a harmonious
                        blend of technology and community spirit.

                        Utilizing web and mobile platforms, Neighborly functions as a bridge, uniting local communities
                        through technology. Emphasizing the essence of neighborly communication, this platform brings 
                        people together, empowering them to share stories, communicate with immediate neighbors,
                        organize local events, and engage in a localized marketplace.

                        The architecture intertwines geolocation-based communication with user-friendly profiles, event
                        organization, and an intuitive local marketplace. This combination enriches user experiences and 
                        serves as the nexus of local neighborhoods.

                        Neighborly is not just an application; it's a testament to my dedication and commitment to crafting 
                        innovative solutions for enhancing local communities. It stands as a tribute to the power of technology 
                        in fostering unity, cooperation, and support within neighborhoods."

                        Feel free to add more specific features, technical details, or any other unique aspects that your
                        project encompasses.
                        <br><br><br><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img alt="Image placeholder" src="/static/assets/img/theme/lte.png" class="img-fluid mb-4" style="width: 100%;">
                <div class="card-body">
                    <h2> DataFortress: Massive Database Website</h2>
                    <hr>
                    <strong>Details:</strong>
                    <br>
                    <br>
                    <p style="text-align: justify; color: #333;">
                        Platform: Web
                        Purpose: Extensive Data Repository
                        Scope: Extensive Data Management, Query, and Retrieval
                        <br>
                        <br>
                        <strong>Description:</strong>
                        <br>
                        <br>
                        DataFortress stands as an exceptional venture, representing 
                        a colossal, comprehensive data repository that thrives in managing
                        vast amounts of structured and unstructured data. With the ambition
                        to create a platform capable of handling extensive data queries, this
                        project is a massive digital fortress, designed to secure, manage,
                        and retrieve data efficiently.

                        Operating as a robust and scalable web-based platform, DataFortress encompasses features
                        similar to the magnitude of the AdminLTE framework. This framework utilizes intuitive designs
                        and extensive data handling mechanisms to serve as an integrated data fortress.

                        The platform provides an array of services, from data management to complex query capabilities. 
                        It excels in handling immense data volumes, providing users with the ability to store, retrieve, 
                        and query data swiftly and accurately.

                        The architecture comprises various advanced database management systems, ensuring streamlined 
                        functionality, security, and lightning-fast retrieval. It's a solution that caters to large-scale
                        data storage and management, aiming to simplify complex data architecture."

                        This description provides an overview. Specific functionalities and unique features can be added
                        based on the actual capabilities and innovative aspects of your project.
                    </p>
                </div>
            </div>
        </div>

       

    </div>
    <div class="card border-0">
        <center>
        <h2 class="mb-0">Major Projects Accomplished</h2>
        </center>
    </div>
</div>

{% endblock content %}
